{% extends "base.html" %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h2>Productos</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>SKU</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay productos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a role="button" href="">Agregar producto</a>
{% endblock %}
