<tr id="almacen-{{ almacen.pk }}">
    
    <td>{{ almacen.nombre }}</td>
    
    <td>{{ almacen.ubicacion|default:"-" }}</td>
    
    <td>
        <div style="display: flex; gap: 0.5rem; justify-content: flex-end;"> 
            
            <button hx-get="{% url 'almacen:almacen-edit' almacen.pk %}"
                    hx-target="#almacen-{{ almacen.pk }}" 
                    hx-swap="outerHTML"
                    class="secondary small">
                Editar
            </button>
            
            <button hx-delete="{% url 'almacen:almacen-delete' almacen.pk %}"
                    hx-target="#almacen-{{ almacen.pk }}"
                    hx-confirm="¿Estás seguro de que quieres eliminar '{{ almacen.nombre }}'?"
                    hx-swap="outerHTML" 
                    class="">
                Eliminar
            </button>
        </div>
    </td>
</tr>