{% load crispy_forms_tags %}
<tr id="edit-cliente-{{ cliente.pk }}">
  <td colspan="4" class="p-0">
    <form hx-post="{% url 'cliente-edit' cliente.pk %}" 
          hx-target="closest tr" 
          hx-swap="outerHTML settle:1s"
          class="m-0">
      {% csrf_token %}
      
      <table class="w-100">
        <tr>
          <td class="p-2" style="width: 30%;"> 
            {{ form.nombre|as_crispy_field }}
          </td>

          <td class="p-2" style="width: 30%;"> 
            {{ form.ruc_dni|as_crispy_field }}
          </td>

          <td class="p-2" style="width: 25%;"> 
            {{ form.telefono|as_crispy_field }}
          </td>
          
          <td class="p-2" style="width: 15%;">
            <div class="d-flex gap-2 justify-content-end">
              <button type="submit" class="btn btn-success btn-sm">Editar</button> 
              <button type="button" 
                      hx-get="{% url 'cliente-list' %}"
                      hx-target="body"
                      hx-swap="outerHTML"
                      class="btn btn-secondary btn-sm">
                Cancelar
              </button>
            </div>
          </td>
        </tr>
      </table>

      {% if form.non_field_errors %}
        <div class="alert alert-danger m-2">{{ form.non_field_errors }}</div>
      {% endif %}
    </form>
  </td>
</tr>