{% load crispy_forms_tags %}
<tr id="edit-producto-{{ producto.pk }}">
  <td colspan="5" class="p-0">
    <form hx-post="{% url 'producto-edit' producto.pk %}" 
          hx-encoding="multipart/form-data"
          hx-target="closest tr" 
          hx-swap="outerHTML settle:1s"
          class="m-0">
      {% csrf_token %}
      
      <table class="w-100">
        <tr>
          <td class="p-2 align-top" style="width: 20%;"> 
            {{ form.sku|as_crispy_field }} 
            {{ form.imagen|as_crispy_field }}
          </td>

          <td class="p-2 align-top" style="width: 30%;"> 
            {{ form.nombre|as_crispy_field }}
            {{ form.descripcion|as_crispy_field }}
          </td>
          
          <td class="p-2 align-top" style="width: 15%;"> 
            {{ form.categoria|as_crispy_field }}
          </td>

          <td class="p-2 align-top" style="width: 15%;">
            {{ form.costo_compra|as_crispy_field }}
            {{ form.costo_venta|as_crispy_field }}
            {{ form.codigo_barra|as_crispy_field }}
          </td>

          <td class="p-2 align-top" style="width: 20%;">
            <div class="d-flex flex-column gap-2 justify-content-end">
              <button type="submit" class="btn btn-success btn-sm">Actualizar</button> 
              <button type="button" 
                      hx-get="{% url 'producto-list' %}"
                      hx-target="body"
                      hx-swap="outerHTML"
                      class="btn btn-secondary btn-sm">
                Cancelar
              </button>
            </div>
          </td>
        </tr>
      </table>

      {% if form.non_field_errors %}
        <div class="alert alert-danger m-2">{{ form.non_field_errors }}</div>
      {% endif %}
    </form>
  </td>
</tr>