{% extends 'base.html' %}
{% block title %}Categorías de Productos{% endblock %}

{% block content %}
    <header>
        <hgroup>
            <h2>Categorías</h2>
            <h3>Grupos para tus productos.</h3>
        </hgroup>
        <a href="{% url 'inventario:categoria-create' %}" role="button">Nueva Categoría</a>
    </header>
    <figure>
        <table>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in categorias %}
                <tr>
                    <td>{{ cat.nombre }}</td>
                    <td>{{ cat.descripcion|default:"-" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No hay categorías registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
{% endblock %}