{% extends 'base.html' %}
{% block title %}Clientes{% endblock %}

{% block content %}
    <header>
        <hgroup>
            <h2>Clientes</h2>
            <h3>Listado de clientes.</h3>
        </hgroup>
        <a href="{% url 'inventario:cliente-create' %}" role="button">Nuevo Cliente</a>
    </header>
    <figure>
        <table>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">RUC/DNI</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clientes %}
                <tr>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.ruc_dni|default:"-" }}</td>
                    <td>{{ c.telefono|default:"-" }}</td>
                    <td><a href="{% url 'inventario:cliente-update' c.pk %}" class="secondary">Editar</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No hay clientes registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
{% endblock %}